{% comment %} 
      Snippet Description
      Accepts: 
      - text: {String} Text 
      - type: {String} Type of text (Accepts: header,mainheader, subheader, body) 
      - align: {String} Alignment of text (Accepts: start, center, end) 
      - size: {String} Size of text (Accepts: small, medium, large) (default: medium) 
      - color: {String} Color of text (Accepts: black, white) (default: black)
      Usage: 
      {% render 'ud-text', 
      text: 'Lorem ipsum dolor sit', 
      type: 'header', 
      align: 'start', 
      size: 'small', 
      color: 'black' 
      %} 
{% endcomment %}

<!-- Text Container -->
<div class="tw-w-full {% if color == 'white' %} tw-text-white {% else %} tw-text-black {% endif %} tw-font-poppins tw-h-fit tw-flex">
  {% if type == 'header' %}
    <h2 class="{% if size == 'small' %} tw-text-32 {% elsif size == 'large' %} tw-text-64 {% else %} tw-text-40 {% endif %} tw-font-bold !tw-font-noto tw-w-full {% if align == 'center' %} tw-text-center {% elsif align == 'end' %} tw-text-end {% elsif align == 'start' %} tw-text-start {% endif %}">
      {{ text }}
    </h2>
  {% elsif type == 'mainheader' %}
    <h1 class="{% if size == 'small' %} tw-text-32 {% elsif size == 'large' %} tw-text-64 {% else %} tw-text-40 {% endif %} tw-font-bold !tw-font-noto tw-w-full {% if align == 'center' %} tw-text-center {% elsif align == 'end' %} tw-text-end {% elsif align == 'start' %} tw-text-start {% endif %}">
      {{ text }}
    </h1>
  {% elsif type == 'subheader' %}
    <h3 class="{% if size == 'small' %} tw-text-16 {% elsif size == 'large' %} tw-text-28 {% else %} tw-text-20 {% endif %} tw-font-bold tw-w-full {% if align == 'center' %} tw-text-center {% elsif align == 'end' %} tw-text-end {% elsif align == 'start' %} tw-text-start {% endif %}">
      {{ text }}
    </h3>
  {% elsif type == 'body' %}
    <div class="tw-flex tw-flex-col {% if size == 'small' %} tw-text-14 {% elsif size == 'large' %} tw-text-18 {% else %} tw-text-16 {% endif %} tw-font-normal tw-w-full {% if align == 'center' %} tw-text-center {% elsif align == 'end' %} tw-text-end {% elsif align == 'start' %} tw-text-start {% endif %}">
      {{ text }}
    </div>
  {% endif %}
</div>