<button class="tw-w-full tw-text-14 tw-uppercase">{{ block.settings.text }}</button>
<div class="tw-absolute tw-left-0 tw-top-full tw-z-10 tw-hidden tw-w-screen tw-border-y tw-border-black tw-bg-white tw-px-12 group-focus-within:tw-block group-hover:tw-block group-focus:tw-block">
  <div class="tw-mx-auto tw-w-full tw-max-w-screen-3xl tw-py-12">
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Navigation Dropdown",
  "tag": "div",
  "class": "tw-group",

  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Link"
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
      "name": "Navigation Dropdown"
    }
  ]
}
{% endschema %}
