@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply tw-font-poppins tw-text-black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tw-font-noto;
  }

  p {
    @apply tw-font-poppins tw-font-normal;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }

  select {
    -webkit-appearance: none; /* For Chrome, Safari, etc. */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* Standard property */
    position: relative;
  }

  select {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1002 0.684219C10.1524 0.634933 10.2137 0.596404 10.2808 0.570828C10.3478 0.545253 10.4193 0.533134 10.491 0.535163C10.5627 0.537192 10.6334 0.55333 10.6988 0.582654C10.7643 0.611979 10.8234 0.653916 10.8727 0.706071C10.922 0.758226 10.9605 0.819579 10.9861 0.886625C11.0117 0.953671 11.0238 1.0251 11.0218 1.09683C11.0197 1.16856 11.0036 1.23918 10.9743 1.30468C10.9449 1.37017 10.903 1.42925 10.8508 1.47853L5.9342 6.12204C5.83276 6.21793 5.69847 6.27136 5.55889 6.27136C5.41931 6.27136 5.28502 6.21793 5.18359 6.12204L0.266388 1.47853C0.213091 1.42957 0.170053 1.37051 0.139774 1.30478C0.109496 1.23904 0.0925818 1.16795 0.0900117 1.09562C0.0874425 1.02329 0.0992699 0.951177 0.124806 0.88346C0.150343 0.815743 0.18908 0.753775 0.238768 0.701156C0.288456 0.648537 0.348105 0.606315 0.414248 0.576942C0.480392 0.54757 0.551712 0.531633 0.624067 0.530058C0.696422 0.528482 0.768369 0.541298 0.835729 0.567763C0.903089 0.594228 0.964518 0.633813 1.01645 0.684219L5.55889 4.97373L10.1002 0.684219Z' fill='black'/%3E%3C/svg%3E%0A");
    background-position: calc(100% - 20px) 50%;
    background-size: 10px 10px;
    background-repeat: no-repeat;
  }
}

@layer utilities {
  .animated-button {
    position: relative;
    isolation: isolate;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .animated-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: -1;
  }

  .animated-button::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .animated-button:hover::before,
  .animated-button:hover::after {
    @apply tw-w-[55%];
  }

  .animated-button {
    @apply peer-hover/animated-button-peer:before:tw-w-[55%] peer-hover/animated-button-peer:after:tw-w-[55%];
  }

  .animated-button--hover-white {
    @apply before:tw-bg-white after:tw-bg-white hover:tw-text-brand-navy peer-hover/animated-button-peer:tw-text-brand-navy;
  }

  .animated-button--hover-black {
    @apply before:tw-bg-black after:tw-bg-black hover:tw-text-white peer-hover/animated-button-peer:tw-text-white;
  }

  .animated-button--hover-navy {
    @apply before:tw-bg-brand-navy after:tw-bg-brand-navy hover:tw-text-white peer-hover/animated-button-peer:tw-text-white;
  }
}

.shopify-policy__container {
  @apply !tw-mx-auto !tw-mb-28 !tw-mt-20 !tw-max-w-4xl !tw-px-5 !tw-font-poppins !tw-text-12 !tw-font-normal md:!tw-text-16;
}

.shopify-policy__title {
  @apply !tw-mb-4 !tw-font-noto !tw-text-24 !tw-font-semibold md:!tw-text-36;
}

.rich-text,
.shopify-policy__body * {
  @apply !tw-prose tw-max-w-none prose-headings:tw-font-noto prose-headings:tw-font-semibold prose-p:tw-font-poppins prose-p:tw-text-12 prose-ol:tw-text-12 prose-ul:tw-text-12 prose-table:tw-text-18 prose-video:tw-max-w-full max-xl:tw-mt-6 md:prose-p:tw-text-18 md:prose-ol:tw-text-18 md:prose-ul:tw-text-18 md:prose-table:tw-text-18 [&_iframe]:tw-aspect-video [&_iframe]:tw-w-full [&_iframe]:tw-max-w-full;
}

.shopify-policy__body * {
  @apply !tw-max-w-none;
}
