@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	a {
		@apply tw-text-black tw-font-poppins;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply tw-font-noto;
	}

	p {
		@apply tw-font-poppins tw-font-normal;
	}


	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
			/* display: none; <- Crashes Chrome on hover */
			-webkit-appearance: none;
			margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

	input[type=number] {
			-moz-appearance:textfield; /* Firefox */
	}
}

@layer utilities {
	.animated-button {
		position: relative;
		isolation: isolate;
		transition-property: color;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
	}

	.animated-button::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 0;
		transition-property: width;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
		z-index: -1;
	}

	.animated-button::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 0;
		z-index: -1;
		transition-property: width;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
	}

	.animated-button:hover::before,
	.animated-button:hover::after {
		width: 50%;
	}

	.animated-button--hover-white {
		@apply before:tw-bg-white after:tw-bg-white hover:tw-text-brand-navy
	}

	.animated-button--hover-black {
		@apply before:tw-bg-black after:tw-bg-black hover:tw-text-white
	}

	.animated-button--hover-navy {
		@apply before:tw-bg-brand-navy after:tw-bg-brand-navy hover:tw-text-white
	}
}


.shopify-policy__container {
	@apply !tw-max-w-4xl !tw-mx-auto !tw-mt-20 !tw-mb-28 !tw-px-5 !tw-font-poppins !tw-font-normal !tw-text-12 md:!tw-text-16;
}

.shopify-policy__title {
	@apply !tw-text-24 md:!tw-text-36 !tw-font-semibold !tw-mb-4 !tw-font-noto;
}

.shopify-policy__body * {
	@apply !tw-prose !tw-max-w-full;
}
